body {
  margin: 0;
  position: relative;
}

button {
  font-size: 16px;
  border-radius: 8px;
  border: 0px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(233 213 255);
  color: rgb(168 85 247);
}

button:active {
  background-color: rgb(168 85 247);
  color: rgb(233 213 255);
}

button:disabled {
  background-color: darkgray;
  color: gray;
  cursor: default;
}

.job-button {
  max-width: 312px;
  height: 52px;
  width: 100%;
}

.input-button {
  padding: 8px;
}

.space-y-1 > * + * {
  margin-top: 0.25rem;
}

.group-button {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#root {
  padding: 12px;
}

#loading-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(107, 114, 128, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
}
